{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
    <title>Criar um ponto e coleta</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="styles/create-point.css">
    <link rel="stylesheet" href="styles/modal.css">
{% endblock styles %}

{% block content %}
    {%include "partials/page-header.html"%}

    <form action="/savepoint" method="POST">

        <h1>Cadastro do ponto de coleta</h1>

        <fieldset>
            <legend>
                <h2>Dados da entidade</h2>
            </legend>

            <div class="field-group">

                <div class="field">
                    <label for="name">Nome da entidade</label>
                    <input type="text" name="name" id="" required="required">
                </div>

                <div class="field">
                    <label for="image">Imagem da entidade</label>
                    <input type="url" name="image" id="" required="required" placeholder="http://">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" name="address" required="required">
                </div>
                <div class="field">
                    <label for="address2">Numero/Complemento</label>
                    <input type="text" name="address2" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" id="" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>

                    <input type="hidden" name="state" value="2" required="required">
                </div>

                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" id="" disabled="disabled" required="required">
                        <option value="">Selecione a cidade</option>
                    </select>

                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Itens de coleta</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>

            <div class="items-grid">
                <li data-id="Lâmpadas">
                    <img src="assets/lampadas.svg" alt="Lâmpadas">
                    <span>Lâmpadas</span>
                </li>

                <li data-id="Pilhas e baterias">
                    <img src="assets/baterias.svg" alt="Pilhas e baterias">
                    <span>Pilhas e baterias</span>
                </li>

                <li data-id="papéis e papelão">
                    <img src="assets/papeis-papelao.svg" alt="papéis e papelão">
                    <span>papéis e papelão</span>
                </li>

                <li data-id="Resíduos Eletronicos">
                    <img src="assets/eletronicos.svg" alt="Resíduos Eletronicos">
                    <span>Resíduos Eletronicos</span>
                </li>

                <li data-id="Resíduos orgânicos">
                    <img src="assets/organicos.svg" alt="Resíduos orgânicos">
                    <span>Resíduos orgânicos</span>
                </li>

                <li data-id="óleo de cozinha">
                    <img src="assets/oleo.svg" alt="óleo de cozinha">
                    <span>óleo de cozinha</span>
                </li>

                <input type="hidden" name="items">

            </div>
        </fieldset>

        <button type="submit">Cadastrar ponto de coleta</button>

    </form>

{% endblock content %}

{% block scripts %}
    <script src="script/creat-point.js"></script>
{% endblock scripts %}

{% block modal %}
    {% if saved %}
        {%include "partials/point-created.html"%}
    {% endif %}
{% endblock modal %}

</body>

</html>